<h1>New Book</h1>

<form>
  <div><input type="text" name="email" placeholder="email"></div>
  <div><input type="password" name="password" placeholder="password"></div>
  <div>
    <input type="submit" name="g" value="Submit" id="g">
  </div>
</form>

<p id="test"></p>

<script>
  $(document).ready(function(){

    if (localStorage.getItem("access-token") != null) {
      alert("You already login!");
      window.location.replace('/');
    }

    $( "form" ).submit(function( e ) {
      e.preventDefault();
      var jsontype = objectifyForm($( this ).serializeArray());
      var formdata = JSON.stringify(jsontype);

      $.ajax({
          type: "POST",
          url: api_url + "members/sign_in",
          contentType: "application/json; charset=utf-8", // this
          dataType: "json", // and this
          data: formdata ,
          success: function(data, textStatus, xhr){
            localStorage.setItem("access-token", xhr.getResponseHeader("access-token"));
            localStorage.setItem("client", xhr.getResponseHeader("client"));
            localStorage.setItem("uid", xhr.getResponseHeader("uid"));
            localStorage.setItem("expiry", xhr.getResponseHeader("expiry"));
            window.location.replace('/');
            alertAtElement("test", "Successful login");
          },
          error: function(data){
            alertAtElement('test', data.responseJSON.errors[0].detail);
          }
      });
    });
  });
</script>
