<h1>Edit User</h1>

<form>
  <div><input id="username_box" type="text" name="username" placeholder="Username"></div>
  <div><input id="email_box" type="text" name="email" placeholder="Email"></div>
  <div><input id="password_box" type="password" name="password" placeholder="Edit password"></div>
  <div>
    <input type="submit" name="g" value="Submit" id="g">
  </div>
</form>

<button id="del_btn" type="button">Delete this user?</button>

<div id="test"></div>

<script>
  $(document).ready(function(){
    var is_admin_session;
    $.ajax({
      type: "GET",
      url: "http://localhost:3000/api/v1/users/" + <%= "#{params[:id]}" %>,
      dataType: "json",
      success: function(data){
        console.log(data);
        $('#username_box').val(data.username);
        $('#email_box').val(data.email);
      }
    });
    $( "form" ).submit(function( e ) {
      e.preventDefault();
      var jsontype = objectifyForm($( this ).serializeArray());
      var formdata = JSON.stringify(jsontype);

      // var formdata = JSON.stringify($( this ).serializeArray());
      console.log(jsontype);

      $.ajax({
          type: "PUT",
          url: "http://localhost:3000/api/v1/users/" + <%= "#{params[:id]}" %>,
          headers: { "Authorization": "Token token=" + getCookie('token') },
          contentType: "application/json; charset=utf-8", // this
          dataType: "json", // and this
          data: formdata ,
          success: function(){
            alertAtElement("test", 'The user has been succesffuly updated!');
          },
          error: function(data){
            userInfoAlertAtElement("test", data.responseJSON);
            //alertAtElement("test", 'Invalid');
            console.log(data);
          }
      });
    });
    $( "#del_btn" ).click(function( ) {
      if (getCookie('token'))
        ajax_CheckAdminAndDeleteUser();
      else
        alertAtElement("test", "You need to log in first!");
    });
  });

  function ajax_CheckAdminAndDeleteUser(){
    $.ajax({
      url: "http://localhost:3000/api/v1/users/" + getCookie("user_id") + "/check_admin",
      headers: { "Authorization": "Token token=" + getCookie('token') },
      type: "GET",
      dataType: "json",
      success: function(data){
        is_admin_session = data.admin;
        ajax_DeleteUser();
      },
      error: function(data){
      }
    });
  }

  function ajax_DeleteUser(){
    $.ajax({
      type: "DELETE",
      url: "http://localhost:3000/api/v1/users/" + <%= "#{params[:id]}" %>,
      headers: { "Authorization": "Token token=" + getCookie('token') },
      success: function(){
        //alertAtElement("test", 'The user has succesffuly deleted);
        alert("The user have been deleted!");
        if (<%= params[:id] %> == getCookie('user_id')) deleteAllCookies();
        window.location.replace("/");
      },
      error: function(data){
        console.log(data);
        alertAtElement("test", data.responseJSON.errors[0].detail);
      }
    });
  }
</script>
