<h1>User list</h1>

<div id="list">

</div>

<script>
$('document').ready(function(){
  if (localStorage.getItem("access-token")){
    $.ajax({
      url: api_url + "members/check_admin",

      headers: {
        "access-token": localStorage.getItem("access-token"),
        "client":       localStorage.getItem("client"),
        "uid":          localStorage.getItem("uid"),
        "expiry":       localStorage.getItem("expiry")
      },
      type: "GET",
      dataType: "json",
      success: function(data){
        console.log("admin ajax" + data);
        ajax_GetAllUsers(data.admin);
      },
      error: function(data){
        console.log(data);
      }
    });
  }
  else {
    ajax_GetAllUsers(false);
  }
});

function ajax_GetAllUsers(admin_session){
  $.ajax({
    type: "GET",
    url: api_url + "members",
    dataType: "json",
    success: function(data){
      console.log(data);

      $.each(data, function() {

        var admin_action = "<li><a href='/users/edit/" + this.id + "'>Edit</a>" + "</li>";
        var fragment = "<h4><strong>" + this.email + "</strong></h4>"
                      + "<ul>"
                        + "<li><i>Created " + this.book_count + " book(s)</i>" + "</li>";
        if (admin_session == true){
          fragment += admin_action;
        }
        fragment +=  "</ul>";
        $('#list').append(fragment);
      });
    }
  });
}
</script>
