<h1>New User</h1>

<form>
  <div><input type="text" name="username" placeholder="Username"></div>
  <div><input type="text" name="email" placeholder="Email"></div>
  <div><input type="password" name="password" placeholder="Password"></div>
  <div>
    <input type="submit" name="g" value="Submit" id="g">
  </div>
</form>

<div id="test"></div>

<script>

  $(document).ready(function(){
    $( "form" ).submit(function( e ) {
      e.preventDefault();
      var jsontype = objectifyForm($( this ).serializeArray());
      var formdata = JSON.stringify(jsontype);

      // var formdata = JSON.stringify($( this ).serializeArray());
      console.log(jsontype);
      console.log(formdata);

      $.ajax({
          type: "POST",
          url: "http://localhost:3000/users",
          contentType: "application/json; charset=utf-8", // this
          dataType: "json", // and this
          data: formdata,
          success: function(){
            alertAtElement("test", 'The user has succesffuly created!');
          },
          error: function(data){
            userInfoAlertAtElement("test", data.responseJSON);
            //alertAtElement("test", 'Invalid');
            console.log(data);
          }
      });
    });
  });

  $.post
</script>
