<p>
  <strong>Email: </strong>
  <span id="title"></span>
</p>

<p>
  <strong>Book(s) created: </strong>
  <span id="book_count"></span>
</p>

<script>
$('document').ready(function(){
  $.ajax({
    type: "GET",
    url: api_url + "members/" + <%= params[:id] %>,
    dataType: "json",
    success: function(data){
      $('#email').html(data.email);
      $('#book_count').html(data.book_count);
    }
  });
});

</script>
