<h1>Edit Book</h1>

<form>
  <div><input id="title_box" type="text" name="title" placeholder="Title"></div>
  <div><input id="author_box" type="text" name="author" placeholder="Author"></div>
  <div><input type="file" name="picture" id="image_upload" onchange="handleFileSelect()"></div>
  <div>
    <input type="submit" name="g" value="Submit" id="g">
  </div>
</form>


<button id="del_btn" type="button">Delete this book?</button>
<a href="/books/all">Back</a>

<p id="test" hidden></p>

<img id='show'></img>

<script>

  var imagedata;
  function handleFileSelect()
  {
    if (!window.File || !window.FileReader || !window.FileList || !window.Blob) {
      alert('The File APIs are not fully supported in this browser.');
      return;
    }

    input = document.getElementById('image_upload');
    if (!input) {
      alert("Um, couldn't find the fileinput element.");
    }
    else if (!input.files) {
      alert("This browser doesn't seem to support the `files` property of file inputs.");
    }
    else if (!input.files[0]) {
      alert("Please select a file before clicking 'Load'");
    }
    else {
      file = input.files[0];
      fr = new FileReader();
      fr.onload = function(e) {
        imagedata = e.target.result;
        console.log(imagedata);
      }
      fr.readAsDataURL(file);
    }
  }

  $(document).ready(function(){
    $.ajax({
      type: "GET",
      url: api_url + "books/" + <%= "#{params[:id]}" %>,
      dataType: "json",
      success: function(data){
        console.log(data);
        $('#title_box').val(data.title);
        $('#author_box').val(data.author);
      },
      error: function(data){
        // $('.form').hidden().empty();
        // $('#del_btn').hidden().empty();
        // $('.a').hidden().empty();
        console.log(data);
      }
    });

    $( "form" ).submit(function( e ) {
      e.preventDefault();
      var jsontype = objectifyForm($( this ).serializeArray());
      var formdata = JSON.stringify(jsontype);

      $.ajax({
          type: "PUT",
          url: api_url + "books/" + <%= "#{params[:id]}" %>,
          headers: {
            "access-token": localStorage.getItem("access-token"),
            "client":       localStorage.getItem("client"),
            "uid":          localStorage.getItem("uid"),
            "expiry":       localStorage.getItem("expiry")
          },
          contentType: "application/json; charset=utf-8", // this
          dataType: "json", // and this
          data: formdata ,
          success: function(){
            alertAtElement("test", 'The book has been successfully updated!');
          },
          error: function(data){
            console.log(data);
            alertAtElement("test", data.responseText);
          }
      });

    });
    $( "#del_btn" ).click(function( ) {
      if (confirm("Are you sure you want to delete this book?")) {
        $.ajax({
          type: "DELETE",
          url: api_url + "books/" + <%= "#{params[:id]}" %>,
          headers: {
            "access-token": localStorage.getItem("access-token"),
            "client":       localStorage.getItem("client"),
            "uid":          localStorage.getItem("uid"),
            "expiry":       localStorage.getItem("expiry")
          },
          success: function(){
            alertAtElement("test", 'The book has succesffuly deleted!');
          },
          error: function(data){
            alertAtElement("test", data.responseText);
          }
        });
      }
    });
  });
</script>
