
<h1>All books</h1>

<div style='margin-left: 30px; margin-right: 30px;'>

</div>

<div class="dropdown" style='margin-left: 30px; margin-right: 30px'>
  <a href="/books/new" class="btn btn-primary" role="button" aria-pressed="true"><strong>+</strong> Add new book</a>
  <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by: <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li id='change-sort-by-title'><a href="#">Title</a></li>
    <li id='change-sort-by-newest'><a href="#">Newest</a></li>
    <li id='change-sort-by-oldest'><a href="#">Oldest</a></li>
    <li role="separator" class="divider"></li>
    <li role="separator" class="divider"></li>
  </ul>
</div>

<div>
  <p id='test'></p>
</div>

<div style='margin-left: 30px; margin-right: 30px'>
  <nav aria-label="Page navigation example">
    <ul id="paginate-container"class="pagination">
    </ul>
  </nav>
</div>

<div id='dvData'>
  <table id="books_table">
  </table>
</div>

<button id="btnExport"> EXPORT TO EXCEL FILE </button>
<iframe id="txtArea1" style="display:none"></iframe>

<script>

  var the_data;
  function call_delete(the_id){
    if (confirm('Are you sure you want to burn this book, mastah?')) {
      $.ajax({
        type: "DELETE",
        url: "http://localhost:3000/api/v1/books/" + the_id,
        headers: { "Authorization": "Token token=" + getCookie('token') },
        success: function(){
          $('#card_' + the_id).fadeOut();
        },
        error: function(){
          alert(data.responseJSON.errors[0].detail);
        }
      });
    };
  }

  function setSortCookie(attr){
    if (localStorage.getItem("sort_attr") != attr){
      localStorage.setItem("sort_dir", "ASC");
    } else if (localStorage.getItem("sort_dir") == "ASC"){
      localStorage.setItem("sort_dir", "DESC");
    }
    else{
      localStorage.setItem("sort_dir", "ASC");
    }

    localStorage.setItem("sort_attr", attr);

    ajax_GetTable();
  };

  function ajax_GetAllBooks(is_admin_session){
    $('#books_table').empty();

    $.ajax({
      type: "GET",
      url: "http://localhost:3000/api/v1/books",
      dataType: "json",
      data: {sort_params: {attr: localStorage.getItem("sort_attr"), direction: localStorage.getItem("sort_dir")}, filter_params: {attr: "", operator: "=", value: ""}, page: getCookie("page")},
      success: function(data){
        console.log(data);
        var count = 1;
        var big_fragment = ''
        $.each(data, function() {
          var add_actions_column = "<th colspan='2'>Delete</th>";
          var actions_function = "<td onclick='call_delete(" + this.id + ")'>Delete</td>"
                               + "<td><a href='/books/edit/" + this.id + ">Edit</a><td>";
          var buttonForAdmin = ""
          if (is_admin_session == true){
            buttonForAdmin = actions_function;
          }

          if (getCookie("page") != "") {
            var offset = parseInt(getCookie("page")) - 1;
            var numpos = offset * 5 + count++;
          }
          big_fragment += "<tr>"
                        +   "<td>" + numpos + "</td>"
                        +   "<td>" + "<a href=/books/show/" + this.id + ">" + this.title + "</a>" + "</td>"
                        +   "<td>" + this.author + "</td>"
                        +   "<td>" + this.user.username + "</td>"
                        +   "<td>" + moment(this.created_at).fromNow() + "</td>"
                        +   "<td>" + moment(this.updated_at).fromNow() + "</td>"
                      +   "</tr>";
        });
        // var tt = "onclick=" + "setSortCookie(" + "'" + "title" + "'" + ")";
        var headers = "<tr>"
                      + "<th>ID</th>"
                      + "<th>Title" + "<button " + "onclick=" + "setSortCookie(" + "'" + "title" + "'" + ")" + ">v</button>" + "</th>"
                      + "<th>Author" + "<button " + "onclick=" + "setSortCookie(" + "'" + "author" + "'" + ")" + ">v</button>" + "</th>"
                      + "<th>Created by" + "<button " + "onclick=" + "setSortCookie(" + "'" + "username" + "'" + ")" + ">v</button>" + "</th>"
                      + "<th>Created at" + "<button " + "onclick=" + "setSortCookie(" + "'" + "created_at" + "'" + ")" + ">v</button>" + "</th>"
                      + "<th>Updated at" + "<button " + "onclick=" + "setSortCookie(" + "'" + "updated_at" + "'" + ")" + ">v</button>" + "</th>"
                    + "</tr>"
        $('#books_table').fadeOut('fast', function() {
            $('#books_table').empty();
            $('#books_table').fadeIn('fast', function(){
              $('#books_table').html(headers + big_fragment);
            });
        });
      }
    });
  }

  function ajax_GetTable(){
    var is_admin_session;
    if (getCookie("token")){
      $.ajax({
        url: "http://localhost:3000/api/v1/users/" + getCookie("user_id") + "/check_admin",
        headers: { "Authorization": "Token token=" + getCookie('token') },
        type: "GET",
        dataType: "json",
        success: function(data){
          console.log("admin_session");
          is_admin_session = data.admin;
          ajax_GetAllBooks(is_admin_session); // with login
        },
        error: function(data){
          //ajax_GetAllBooks(false);
        }
      });
    } else {
      ajax_GetAllBooks(false); // no login
    }

  }

  function change_page_cookie(changeto){
    if (getCookie("page") == changeto){
      $('#pagination_' + getCookie("page")).removeClass('disabled');
    };
    setCookie("page", changeto, 1);
    $('#pagination_' + changeto).addClass('disabled');

    ajax_GetTable();
  };

  $('document').ready(function(){

    // set default sort-by value when calling ajax to server to get books
    $('#change-sort-by-title').click(function(e){
      setCookie("sort_by", "title", 15);
    });
    $('#change-sort-by-newest').click(function(e){
      setCookie("sort_by", "newest", 15);
    });
    $('#change-sort-by-oldest').click(function(e){
      setCookie("sort_by", "oldest", 15);
    });

    $.ajax({
      url: "http://localhost:3000/api/v1/books/total",
      type: "GET",
      dataType: "json",
      success: function(data){

        $('#paginate-container').empty();
        var total_books = data.total;
        var total_pages = Math.floor((total_books - 1) / 5) + 1;
        var fragment = "";
        for (i = 0; i < total_pages; i++){
          fragment += "<li id='pagination_" + (i+1) + "' class='page-item'><a class='page-link' href='#" + (i+1) + "'>" + (i+1) + "</a></li>";
        };
        $('#paginate-container').append(fragment);

        var url = window.location.href; // "http:/localhost3001/books/all#2" or "http:/localhost3001/books/all#"
        if (url.lastIndexOf("#") != -1) {
          var pageNum = url.substring(url.lastIndexOf("#") + 1, url.length); //"2" or ""
          if (pageNum == "")
            change_page_cookie("1");
          else
            change_page_cookie(pageNum);
          console.log("pageNum: " + pageNum);
        }
        else {
          var pageNum = "1";
          console.log("pageNum: " + pageNum);
          change_page_cookie(pageNum);
        }
      }
    });
  });

</script>
