<h1>My books</h1>

<div style='margin-left: 30px; margin-right: 30px;'>
  <a href="/books/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add new book</a>
</div>

<div class="card-columns" style='margin-top: 30px; padding: 30px'>

</div>

<p id='test'></p>

<ul id="testlink">

</ul>

<script>
  var the_data;
  function call_delete(the_id){
    if (confirm('Are you sure you want to perish this book, mastah?')) {
      $.ajax({
        type: "DELETE",
        url: api_url + "books/" + the_id,
        headers: {
          "access-token": localStorage.getItem("access-token"),
          "client":       localStorage.getItem("client"),
          "uid":          localStorage.getItem("uid"),
          "expiry":       localStorage.getItem("expiry")
        },
        success: function(){
          //$('#test').html('The book has succesffuly deleted!');
          $('#card_' + the_id).fadeOut();
        },
        error: function(){
          alert(data.responseText);
        }
      });
    };
  };

  $('document').ready(function(){

    $('.card-columns').empty();
    $.ajax({
      type: "GET",
      url: api_url + "books",
      dataType: "json",
      data: {
        sort_params: {
          attr: localStorage.getItem("sort_attr"),
          direction: localStorage.getItem("sort_dir")
        },
        filter_params: {
          attr: "member.email",
          operator: "=",
          value: localStorage.getItem("uid"),
        },
        page: getCookie("page")
      },
      success: function(data){
        console.log("ajax" + data);
        the_data = data;

        var num = 369;
        $.each(data, function() {
          console.log(this);
          var big_fragment = "<div class='card' id='card_" + this.id + "' >";
          if (this.picture.url != null)
            big_fragment +=    "<img class='card-img-top' weight='369' height='160' src='" + server_url + this.picture.url.substring(1) + "' + alt='Card image cap'>";
          else
            big_fragment +=    "<img class='card-img-top' weight='369' height='160' src='' + alt='No image'>";
          big_fragment +=      "<div class='card-body'>"
                               + "<h5 class='card-title lead'>" + this.title + "</h5>"
                               + "<p class='card-text'>" + this.author + "</p>"
                               + "<hr>"
                               + "<p class='card-text'>" + this.member.email + "</p>"
                               + "<p class='card-text'><small class='text-muted'>Created: " + moment(this.created_at).fromNow() + "</small></p>"
                               + "<p class='card-text'><small class='text-muted'>Last updated: " + moment(this.updated_at).fromNow() + "</small></p>"
                               + "<button type='button' class='btn btn-danger' onclick='call_delete(" + this.id + ")'>Delete</button>"
                               + "<a class='btn btn-info' href='/books/edit/" + this.id + "' role='button'>Edit</a>"
                               + "<a class='btn btn-primary' href='/books/show/" + this.id + "' role='button'>More...</a>"
                             + "</div>"
                           + "</div>";
          $('.card-columns').append(big_fragment);
        });
      },
      error: function(data){
        console.log(data);
      }
    });
  });

</script>
