<p>
  <strong>Title:</strong>
  <span id="title"></span>
</p>

<p>
  <strong>Author:</strong>
  <span id="author"></span>
</p>

<p>
  <strong>Creator:</strong>
  <span id="creator"></span>
</p>

<div>
  <img id="show" height="500"></img>
</div>

<a href="/books/all">Back</a>

<script>
$('document').ready(function(){
  $.ajax({
    type: "GET",
    url: api_url + "books/" + <%= params[:id] %>,
    dataType: "json",
    success: function(data){
      console.log(data);
      $('#title').html(data.title);
      $('#author').html(data.author);
      $('#creator').html(data.member.email);
      $("#show").attr("src", server_url + data.picture.url.substring(1));      
    }
  });
});

</script>
